
  <div class="header">
    <h2>NFE - Validator </h2>
  </div>

  <div class="subHeader">
    
    <div class="submenu">
      <h3 class="enum">1º</h3>
      <br/>
      <p>Cole o conteúdo do XML no local indicado.</p>
    </div>  
    
    <div class="submenu">
      <h3 class="enum">2º</h3>
      <br/>
      <p>Aperte "Validar" para iniciar o trabalho de verificação do XML ou "Apagar" para apagar o conteúdo.</p>
    </div>  
    
    <div class="submenu">
      <h3 class="enum">3º</h3>
      <br/>
      Confira a resposta no card inferior direito 
    </div>  
    
    

    
    
    

  </div>

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>