textarea{
    border: none;
    resize: none;
    width: 800px;
    height: 700px;
    background-color: #C7C7C7;
    margin-top: 0px;
    
}

button{
    margin-right: 10px;
    width: 100%;
    
}


.header{
    
    height: 30px;
    padding: 5px;
    background-color: #5F5F5F;
    color: #E7E7E7;
    margin-bottom:10px;
    text-align: center;  

}

.header, h2{
    font-family: "Jost", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.subHeader{
   
    height: 80px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    align-content: center;

}

.submenu1{
    margin-left: 20px;
    margin-top:10px;
    background-color: #B3EAF7;
    display: flex;
    width: 600px;
    height: 60px;
    color: #5E5E5E;
    text-align: center;
    align-content: center;
    padding: 5px;
    
}
.enum{
    
    text-align: center;
    align-content: center;
    margin-right: 10px;
    height: 100%;
    width: 50px;
    background-color: #D1D1D1;
 
}

.validacao{
    width: 98%;
    height: 750px;
    padding: 10px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 5px;
   
}

.response{
    float: right;
    width: 90%;
    background-color:#C7C7C7;
    height: 300;
    grid-column: 2;
    padding: 5px;
    overflow: scroll;
    
}

.textnfe{
    margin-top: 0px;
    margin-left: 20px;
    grid-row: 1 / span 2;
    width: 800px;
    height: 750px;
   
}

.buttons{
    display: flex;
    margin-bottom: 6px;
    margin-top: 10px;    
}







